body{
    margin: 0;
    background-color: var(--color-bg);
}

/* =====================MEDIA QUERIES (MEDIUM DEVICIES)================== */
@media screen and (max-width: 1024px){
    .JoinPage{
       
      
        display: flex;
        justify-content: center;
        align-items: flex-start !important;
    }
    .JoinContainer{
        margin-top: 30vw !important;
        width: 100% !important;
       
    }

    
    .JoinContainer > h1{
      
        font-size: 4vw !important;
        width: 50vw !important;
        border-bottom: 0.6vw solid white !important;
        padding: 3vw !important;
       
    }

    #joinInput{
        width: 50vw !important;
        padding: 3vw !important;
       
        font-size: 2vw !important;
        margin:4vw !important;
       
    }
    .joinbtn{
        width: 50vw !important;
        padding: 3vw !important;
        font-size: 2vw !important;
    }

    #chatInput{
        width: 85% !important;
        font-size: 1rem !important;
    }

    .sendBtn{
        width: 10% !important;
    }

    .messageBox{
         font-size: 1rem !important;
     }
     .inputBox{
        height: 2.7rem !important;
        
    }
    
  }
  /* =====================MEDIA QUERIES (SMALL DEVICIES)================== */
  @media screen and (max-width: 600px){

    .header>h2{
        font-size: 1.5rem !important;
    }
    #chatInput{
        width: 80% !important;
        /* font-size: 1rem !important; */
    }

    .sendBtn{
        width: 16% !important;
    }
  }